/* HERO SECTION */

.hero-section {
  width: 100%;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18rem;
}

.text-content {
  display: flex;
  flex-direction: column;
}

.link-content {
  display: flex;
  font-size: 1.5rem;
  padding-top: 2rem;
}

.download-cv {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  color: #dc2626;
  border: 2px solid #dc2626;
  padding: 0.625rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.download-cv:hover {
  color: #16a34a;
  border-color: #16a34a;
  text-decoration: underline;
}

.download-cv svg {
  margin-top: 0.25rem;
  transition: transform 0.3s ease;
}

.download-cv:hover svg {
  transform: translateY(-0.375rem);
}

.title {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1rem;
  display: flex;
  padding-left: 2rem;
  align-items: center;
  gap: 0.5rem;
}

.typing-text {
  font-weight: bold;
  min-width: 200px;
}

.typing-text.red {
  color: #dc2626;
}

.typing-text.orange {
  color: #fb923c;
}

.typing-text.purple {
  color: #9333ea;
}

.cursor {
  color: transparent;
}

.image-container img {
  width: 192px;
  height: auto;
  object-fit: cover;
  border: solid;
  border-color: black;
}

/* Pulse animation for cursor */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
