/* HERO SECTION */

.hero-section {
  padding-top: 80px;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.title {
  font-size: 2.25rem;
  font-weight: bold;
}
